html {
  font-family: sans-serif;
  font-size: 12px;
}

.App {
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

.List {
  border: 1px solid black;
}

.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.controls button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f8f8f0;
}

.cell {
  min-width: 16px;
  min-height: 16px;
  color: white;
  background-color: gray;
  font-weight: bold;
  font-size: 1.25rem;
}

.keyboard button {
  padding: 10px;
  margin-top: 6px;
}

.openers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.openers button {
  border: none;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.openers form {
  display: flex;
  margin-bottom: 16px;
  gap: 10px;
}

.progressbar {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.progressbar progress {
  margin-right: 16px;
}