html {
  font-family: sans-serif;
  font-size: 12px;
  background-color: #18181f;
  color: #ffffff;
}

a {
  color: #fff;
  font-size: 1.25rem;
}

nav {
  font-weight: bold;
  padding-bottom: "1rem";
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

.List {
  border: 1px solid white;
}

.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.controls button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: #fff;
}

.controls button:disabled {
  opacity: 0.5;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: gray;
}

.cell {
  min-width: 16px;
  min-height: 16px;
  color: white;
  background-color: gray;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 16px;
  margin: 5px;
}

.keyboard {
  margin: 0.5em auto 2em;
  max-width: 100%;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.keyboard div {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.keyboard button {
  font-size: 18px;
  display: flex;
  border-radius: 5px;
  color: #fff;
  background-color: black;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  text-transform: capitalize;
  min-width: 45px;
  font-family: monospace;
}
.reset {
  padding: 10px !important;
}

.spoilers {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.5rem;
}

.openers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.openers button {
  border: none;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.openers form {
  display: flex;
  margin-bottom: 16px;
  gap: 10px;
}

.progressbar {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.progressbar progress {
  margin-right: 16px;
}

@media (max-width: 1250px) {
  .App {
    flex-direction: column;
  }

  .controls {
    flex-wrap: wrap;
  }

  .cell {
    padding: 10px;
    border: 1px solid white;
    margin: 0;
    font-size: 0.9rem;
  }
}

@media (max-width: 700px) {
  .keyboard button {
    font-size: 12px;
    min-height: 30px;
    min-width: 30px;
  }
}

@media (max-width: 300px) {
  .keyboard button {
    font-size: 10px;
    min-height: 30px;
    min-width: 20px;
  }
  .cell {
    padding: 5px;
    border: 1px solid white;
    margin: 0;
    font-size: 0.9rem;
  }
}